@import './vars';
@import './global';


.wrapper{
    background-image: url('../images/bg/top-bg.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}
.header{
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0px;
    }
    &__inner{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__menu-btn{
        display: none;
    }
    
}
.menu{
    right: 0;
    margin: 0 auto;
    &__list{
        display: flex;
    }
    &__item{
        padding: 9px 25px;
    }
    li:nth-child(6){
        padding: 9px 21px;
        color: #212832;
        border: 1px solid transparent;
        border-radius: 5px;
        
        &:hover{
            border: 1px solid #212832;
            transform: all 1s;
        }
    }
    
    &__btn{
        padding: 0 30px;
        border: none;
        background-color: transparent;
        position: relative;
        cursor: pointer;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/header-arrow.svg');
            width: 10px;
            height: 5.5px;
            top: 9px;
            right: 7px;
        }

    }
    
}
.top{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
    }
    &__content{
        margin-top: 86px;
        max-width: 545px;
    }
    &__subtitle{
        text-transform: uppercase;
        color: #DF6951;
        font-weight: 700;
        margin-bottom: 24px;
    }
    &__title{
        color: #181E4B;
        @extend %volkhov-bold;
        font-size: 84px;
        line-height: 89px;
        margin-bottom: 30px;
        letter-spacing: -0.04em;
        z-index: 0;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background-image: url('../images/Decore.png');
            width: 385px;
            height: 12px;
            z-index: -1;
            top: 67px;
            left: 249px;
        }
    }
    &__text{
        color: $default;
        line-height: 30px;
        margin-bottom: 34px;
    }
    &__buttons{
        display: flex;
        
        align-items: center;
    }
    &__btn-first{
        margin-right: 44px;
        padding: 19px 26px;
        color: #fff;
        background-color: #F1A501;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;

    }
    &__btn-second{
        padding-left: 55px;
        color: #686D77;
        border: none;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/play-icon.svg');
            background-repeat: no-repeat;
            background-position: center;
            padding: 20px;
            border-radius: 50%;
        
            background-color: #DF6951;
            box-shadow: 0px 15px 30px 0px rgba(223, 105, 81, 0.3);

            width: 15px;
            height: 15px;
            top: -7px;
            left: 0;
        }
    }
}
.services{
    padding: 50px 0 80px;
    &__inner{

        background-image: url('../images/services-decor2.png');
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 153px 166px;
        text-align: center;
    }
    
    &__title{
        margin-bottom: 67px;
    }
    &__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__item{
        max-width: 267px;
        max-height: 314px;
        padding: 30px 40px 45px 40px;
    }
    &__item-image{
        margin-bottom: 29px;
    }
    &__item-title{
        @extend %opensans-medium;
        font-size: 20px;
        line-height: 27px;
        color: #1E1D4C;
        margin-bottom: 15px;
    }
    &__item-text{
        color: #5E6282;
    }
    &__item-decorated{
   
        background-color: #fff;
        border: none;
        border-radius: 36px;
        box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.06);
        position: relative;
        &::after{
            content: '';
            position: absolute;
            z-index: -1;
            border-top-left-radius: 30px;
            border-bottom-right-radius: 10px;
            background-color: #DF6951;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            width: 100px;
            height: 100px;
            bottom: -31px;
            left: -39px;
        }
    }
}
.destinations{
    padding: 60px 0 80px;
    &__inner{

        background-image: url('../images/destinations-decore.png');
        background-position: 98% 87%;
        background-repeat: no-repeat;
        background-size: 96px 252px;
        text-align: center;
    }
    
    &__title{
        margin-bottom: 60px;
    }
    &__items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1060px;
        margin: 0 auto;
        z-index: 999;
    }
    &__item{ 
        margin: 0 auto;
        width: 314px;
        height: 457px;
        border: none;
        border-radius: 24px;
        box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.1);
    }
    &__item-content{
      
        color: #5E6282;
        font-size: 18px;
        line-height: 22px;
        background-color: #fff;
        padding: 0 20px;
        


    }
    &__item-duration{
        font-size: 16px;
        line-height: 20px;
    }
    &__item-img{
        max-height: 340px;
       
    }
    
    &__item-top{
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 15px;
    }
    &__item-bottom{
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/Vector.svg');
            width: 18.25px;
            height: 18.25px;
            top: 1px;
            left: 0;
        }
    }

}
.book{
    &__inner{
        background-image: url('../images/book-decor.png');
        background-position: top right;
        background-size: 354px 367px;
        background-repeat: no-repeat;
        padding: 100px 0 100px 76px;
        display: flex;
        margin: 0 auto;
    }
    &__info{
        max-width: 511px;
    }
    &__content{
        max-width: 395px;
    }
    &__item{
        margin-bottom: 48px;
        padding-left: 70px;
        color: $default;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/book.png');
            width: 47px;
            height: 48px;
            top: 7;
            left: 0;
        }

    }
    &__item-payment{
        &::before{
            
            background-image: url('../images/payment.png');
            
        }
    }
    &__item-reach{
        &::before{
            
            background-image: url('../images/reach.png');
            
        }
    }
    &__item-title{
        font-weight: 700;
        
    }
    &__item-text{
        font-weight: 400;
    }
    &__widget{
       padding-top: 15px;
       max-width: 485px;
       max-height: 459px;
       display: flex;
       margin: 0 auto;
       position: relative;
       
    }
    &__box{
        background-color: #fff;
       
        padding: 20px 25px 30px 25px;
        border: none;
        border-radius: 26px;
        color: #84829A;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 30px;
        
        
    }
    &__box-first{
        width: 370px;
        height: 400px;
        &:hover{
            z-index: 999;
            
        }
    }
    &__box-img{
        margin-bottom: 20px;
    }
    &__box-title{
        margin-bottom: 13px;
        font-size: 18px;
        line-height: 22px;
        color: #080809;
    }
    &__box-text{
        margin-bottom: 21px;
    }
    &__box-buttons{
        margin-bottom: 20px;
    }
    &__box-btn{
        padding-right: 13px;
        cursor: pointer;
    }
    &__box-people{
        padding-left: 30px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/building.svg');
            width: 16px;
            height: 16px;
            top: 2px;
            left: 0;
        }
    }
    &__box-second{
        content: '';
        width: 263px;
        height: 129px;
        position: absolute;
        
        bottom: 46px;
        left: 230px;
    }
    &__box-subtitle{
        font-size: 14px;
        line-height: 17px;
        padding-left: 61px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/rome-icon.png');
            width: 50px;
            height: 50px;
            top: 0;
            left: 0;
        }
    }
    &__box-title{
        padding-left: 61px;
    }
    &__box-percent{
        padding-left: 61px;
      
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 17px;
        color: #080809;
        span{
            color: #8A79DF;
        }
        &::before{
            content: '';
            position: absolute;
            background-color: #F5F5F5;
            height: 5px;
            border-radius: 30px;
            bottom: 25px;
            left: 86px;
            width: 156px;
        }
        
    }
    &__box-line{
            height: 5px;
            background-color: #8A79DF  ;
            border-radius: 30px;
            position: relative;
            width: 156px; 
    }
}
.line{
    width: 156px;
    margin-left: 61px;
}

.testimonials{
    &__inner{
        padding: 100px 0 70px 76px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__info{
        max-width: 409px;
    }
    &__subtitle{
        text-transform: uppercase;
    }
    &__slider{
        max-width: 669px;
        position: relative;
        padding-left: 50px;
    }
    &__slider-item{
        max-width: 669px;
        height: 356px;
        padding: 33px;
    }
    &__slider-text{
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 34px;
    }
    &__slider-name{
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 5px;

    }
    &__slider-info{
        font-size: 14px;
        line-height: 21px;
    }
    &__slider-firstitem{
        padding: 28px 68px 30px 34px;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25);
        width: 504px;
        height: 245px;
        color: $default;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-image: url('../images/testimonials-person.png');
            width: 68px;
            height: 68px;
            top: -31px;
            left: -30px;
        }
    }
    &__slider-seconditem{
        padding: 28px 68px 30px 34px;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25);
        width: 504px;
        height: 245px;
        color: $default;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-image: url('../images/testimonials-person.png');
            width: 68px;
            height: 68px;
            top: -31px;
            left: -30px;
        }
    }
    &__slider-thirditem{
        padding: 28px 68px 30px 34px;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25);
        width: 504px;
        height: 245px;
        color: $default;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-image: url('../images/testimonials-person.png');
            width: 68px;
            height: 68px;
            top: -31px;
            left: -30px;
        }
    }
}

.slick-prev{
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 126px;
  right: 50px;
  z-index: 9999;
}


.slick-next{
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
  bottom: 110px;
  right: 50px;
  
}
.slick-disabled{
    path{
        fill: #BCB7C2;
    }     
}
.partners{
    &__inner{
        padding: 0 0 100px 76px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
       
    }
    &__item{
        padding: 0 20px;
        img{
            filter: grayscale(1);
            transition: 0.3s;
            }
              
        }
    img:hover {
        filter: grayscale(0);
        }
        

    }

.subscribe{
    &__inner{
        text-align: center;
        margin-bottom: 100px;
        background-image: url('../images/subscribe-decor.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 153px 166px;
        position: relative;

        padding-bottom: 74px;
        padding-right: 100px;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/Group7.png');
            width: 70px;
            height: 70px;
            top: -25px;
            right: 70px;
        
        }
        
        
    }
    &__content{
        
        background-image: url('../images/bg/subscribe-bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 129px 20px 20px 20px;
        padding: 79px 155px 30px 150px;
    }
    &__title{
        font-size: 33px;
        line-height: 54px;
        color: $default;
        margin-bottom: 74px;
    }
    &__form{
        max-width: 775px;
        margin-bottom: 78px;
        
        
    }
    &__form-input{
        padding: 25px 160px 25px 66px;
        border: none;
        border-radius: 10px;
        max-width: 550px;
        background-image: url('../images/icons/subscribe-letter.svg');
        background-repeat: no-repeat;
        background-position: 22px;

        &::placeholder{
            font-size: 14px;
            line-height: 174px;
            color: #39425D;
        }
    }
    &__form-btn{
        border: none;
        background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
        border-radius: 10px;   
        color: #fff;
        padding: 25px 50px; 
        cursor: pointer;
    }
} 
.footer{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 30px 80px 50px 80px;
    }
    &__logo-content{
        max-width: 207px;
    }
    &__logo{
        font-size: 44px;
        line-height: 66px;
        color: #181E4B;
        margin-bottom: 20px;
    }
    &__logo-text{
        font-size: 13px;
        line-height: 16px;
        color: $default;
    }
    &__copyright{
        
        padding: 80px 0;
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        color: $default;

    }
    &__content-title{
        margin-top: 24px;
        font-size: 21px;
        line-height: 26px;
        color: #080809;
        margin-bottom: 34px;
    }
    &__content-item{
        font-size: 18px;
        line-height: 22px;
        color: $default;
        margin-bottom: 14px;
    }
   

    &__social{
        margin-top: 24px;
        
    }
    &__social-btn{
        margin-right: 25px;
        margin-bottom: 26px;
        width: 41px;
        height: 41px;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        border: none;
        background-color: #fff;
        img{
            margin: -2px auto;
        }
    }
    &__social-instagram{
        background-image: url('../images/icons/instagram-bg.png');
        background-position: center;
        

    }
    &__social-text{
        font-size: 20px;
        line-height: 24px;
        color: $default;
        margin-bottom: 16px;
    }
    &__app-btn{
        cursor: pointer;
        padding-right: 7px;
    }

}

@import './fonts';
@import './libs';
@import './media';