.title, .top__title {
  font-family: 'Volkhov', serif;
  font-weight: 700;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.services__item-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1440px;
  padding: 0 130px;
  margin: 0 auto;
}

.title {
  font-size: 50px;
  line-height: 64px;
  margin-bottom: 30px;
  color: #14183E;
}

.subtitle {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 10px;
  color: #5E6282;
  font-weight: 600;
}

.wrapper {
  background-image: url("../images/bg/top-bg.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 130px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-btn {
  display: none;
}

.menu {
  right: 0;
  margin: 0 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  padding: 9px 25px;
}

.menu li:nth-child(6) {
  padding: 9px 21px;
  color: #212832;
  border: 1px solid transparent;
  border-radius: 5px;
}

.menu li:nth-child(6):hover {
  border: 1px solid #212832;
  -webkit-transform: all 1s;
          transform: all 1s;
}

.menu__btn {
  padding: 0 30px;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.menu__btn::before {
  content: '';
  position: absolute;
  background-image: url("../images/icons/header-arrow.svg");
  width: 10px;
  height: 5.5px;
  top: 9px;
  right: 7px;
}

.top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
}

.top__content {
  margin-top: 86px;
  max-width: 545px;
}

.top__subtitle {
  text-transform: uppercase;
  color: #DF6951;
  font-weight: 700;
  margin-bottom: 24px;
}

.top__title {
  color: #181E4B;
  font-size: 84px;
  line-height: 89px;
  margin-bottom: 30px;
  letter-spacing: -0.04em;
  z-index: 0;
  position: relative;
}

.top__title::after {
  content: '';
  position: absolute;
  background-image: url("../images/Decore.png");
  width: 385px;
  height: 12px;
  z-index: -1;
  top: 67px;
  left: 249px;
}

.top__text {
  color: #5E6282;
  line-height: 30px;
  margin-bottom: 34px;
}

.top__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__btn-first {
  margin-right: 44px;
  padding: 19px 26px;
  color: #fff;
  background-color: #F1A501;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.top__btn-second {
  padding-left: 55px;
  color: #686D77;
  border: none;
  background-color: transparent;
  position: relative;
}

.top__btn-second::before {
  content: '';
  position: absolute;
  background-image: url("../images/icons/play-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  border-radius: 50%;
  background-color: #DF6951;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 15px 30px 0px rgba(223, 105, 81, 0.3);
  width: 15px;
  height: 15px;
  top: -7px;
  left: 0;
}

.services {
  padding: 50px 0 80px;
}

.services__inner {
  background-image: url("../images/services-decor2.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 153px 166px;
  text-align: center;
}

.services__title {
  margin-bottom: 67px;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__item {
  max-width: 267px;
  max-height: 314px;
  padding: 30px 40px 45px 40px;
}

.services__item-image {
  margin-bottom: 29px;
}

.services__item-title {
  font-size: 20px;
  line-height: 27px;
  color: #1E1D4C;
  margin-bottom: 15px;
}

.services__item-text {
  color: #5E6282;
}

.services__item-decorated {
  background-color: #fff;
  border: none;
  border-radius: 36px;
  -webkit-box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.06);
  position: relative;
}

.services__item-decorated::after {
  content: '';
  position: absolute;
  z-index: -1;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 10px;
  background-color: #DF6951;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100px;
  height: 100px;
  bottom: -31px;
  left: -39px;
}

.destinations {
  padding: 60px 0 80px;
}

.destinations__inner {
  background-image: url("../images/destinations-decore.png");
  background-position: 98% 87%;
  background-repeat: no-repeat;
  background-size: 96px 252px;
  text-align: center;
}

.destinations__title {
  margin-bottom: 60px;
}

.destinations__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1060px;
  margin: 0 auto;
  z-index: 999;
}

.destinations__item {
  margin: 0 auto;
  width: 314px;
  height: 457px;
  border: none;
  border-radius: 24px;
  -webkit-box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.1);
}

.destinations__item-content {
  color: #5E6282;
  font-size: 18px;
  line-height: 22px;
  background-color: #fff;
  padding: 0 20px;
}

.destinations__item-duration {
  font-size: 16px;
  line-height: 20px;
}

.destinations__item-img {
  max-height: 340px;
}

.destinations__item-top {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 15px;
}

.destinations__item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 30px;
  position: relative;
}

.destinations__item-bottom::before {
  content: '';
  position: absolute;
  background-image: url("../images/icons/Vector.svg");
  width: 18.25px;
  height: 18.25px;
  top: 1px;
  left: 0;
}
/*# sourceMappingURL=style.css.map */